{% extends 'bootstrap/base.html' %}
    {% block title %}
        Movie Club
    {% endblock %}

    {% block navbar %}
        {% include '_navbar.html' %}
    {% endblock %}

    {% block content %}
        {% with messages = get_flashed_messages(with_categories=true) %}   <!--all messages are in queue-->
            {% if messages %}
            {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
            {% endif %}
        {% endwith %}

        {% block sub_content %}
        
        {% endblock %}
    {% endblock %}
