<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>MOVIE CLUB</title>
    <style>
        body{
            background-color: #242333;
            color: white;
        }
        * {
            box-sizing: border-box;
        }

        .img-container {
            float: left;
            width: 25%;
            padding: 5px;
        }

        .clearfix::after {
            content: "";
            clear: both;
            display: table;
        }
        input,textarea{
            color: black;
        }
    </style>
</head>


<body>
    <!-- nav bar -->
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">MOVIE CLUB</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Us</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <a href="/register" style="color: inherit;"><span class="glyphicon glyphicon-user" style="padding: 10px; color: #7f7f7f ;">Register</span></a>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Log in
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu">
                        <li><a href="/login">User Login</a></li>
                        <li><a href="/theatrelogin">Theatre Login</a></li>
                        <li><a href="/adminlogin">Admin Login</a></li>
                    </ul>
                </div>
            </ul>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}        <!--all messages are in queue-->
        {% if messages %}
            {% for category, message in messages %}
                <li class="alert alert-{{ category }}">{{ message }}</li>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <marquee reverse=true class="jumbotron">
        <h1 style="color: black;"><strong><u>MOVIE CLUB</u></strong></h1>
    </marquee>

    <br>


    <h2>NOW SHOWING :)</h2>
    <br>
    <div class="clearfix">
        <div class="img-container">
            <img style="height: 570px; width: 100%;" src="https://m.media-amazon.com/images/M/MV5BNTg2OTY2ODg5OF5BMl5BanBnXkFtZTcwODM5MTYxOA@@._V1_.jpg">
            <p><strong>Movie Name : </strong>Life of Pi</p>
            <p><strong>Theatre ID : </strong>1001</p>
            <p><strong>Language : </strong>English</p>
            <a href="/book"><button style="color: black; background-color: rgb(173, 173, 231);" type="submit">Book Now</button></a>
        </div>
        <div class="img-container">
            <img style="height: 570px; width: 100%" src="https://terrigen-cdn-dev.marvel.com/content/prod/1x/spider-mannowayhome_lob_crd_03.jpg">
            <p><strong>Movie Name : </strong>Spider-Man No Way Home</p>
            <p><strong>Theatre ID : </strong>1007</p>
            <p><strong>Language : </strong>English</p>
            <a href="/book"><button style="color: black; background-color: rgb(173, 173, 231);" type="submit">Book Now</button></a>
        </div>
        <div class="img-container">
            <img style="height: 570px; width: 100%" src="https://m.media-amazon.com/images/M/MV5BMjMwMDgyOGQtMWZjNC00MDUwLTllZDYtZWM3NDBmN2YzNGZmXkEyXkFqcGdeQXVyMTQzNjkzMzEw._V1_.jpg">
            <br>
            <p><strong>Movie Name : </strong>KGF 2</p>
            <p><strong>Theatre ID : </strong>1010</p>
            <p><strong>Language : </strong>Kannada</p>
            <a href="/book"><button style="color: black; background-color: rgb(173, 173, 231);" type="submit">Book Now</button></a>
        </div>
        <div class="img-container">
            <img style="height: 570px; width: 100%" src="https://m.media-amazon.com/images/I/51sN1hkbvGL.jpg">
            <p><strong>Movie Name : </strong>Big Hero 6</p>
            <p><strong>Theatre ID : </strong>1005</p>
            <p><strong>Language : </strong>English</p>
            <a href="/book"><button style="color: black; background-color: rgb(173, 173, 231);" type="submit">Book Now</button></a>
        </div>
    </div>

    <br>

    <hr>
    <a href="/theatreregis" style="color: inherit;"><span><b><u><i>Click here for theatre Registration only</i></u></b></span></a>
</body>
</html>